<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <h2>A simple application that returns Gene names in Alphabetic order</h2>
    <br>
    <title>File Upload</title>
</head>

<body>

    <form action="/display" method="POST" id="uploadfile" enctype="multipart/form-data">
        <input type="file" name="file" />
        <br><br>
        <input type="submit" id="submit" />
        <input type="reset" />
    </form>
</body>

</html>